<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>securecentral</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <!--Override the repository (and pluginRepository) "central" from the
               Maven Super POM -->
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
                <repository>
                    <snapshots>
                        <enabled>
                            false
                        </enabled>
                    </snapshots>
                    <id>
                        bintray-ibm-cloud-sdks-ibm-cloud-sdk-repo
                    </id>
                    <name>
                        bintray
                    </name>
                    <url>
                        https://dl.bintray.com/ibm-cloud-sdks/ibm-cloud-sdk-repo
                    </url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </pluginRepository>
                <pluginRepository>
                    <snapshots>
                        <enabled>
                            false
                        </enabled>
                    </snapshots>
                    <id>
                        bintray-ibm-cloud-sdks-ibm-cloud-sdk-repo
                    </id>
                    <name>
                        bintray-plugins
                    </name>
                    <url>
                        https://dl.bintray.com/ibm-cloud-sdks/ibm-cloud-sdk-repo
                    </url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>
            bintray
        </activeProfile>
    </activeProfiles>
</settings>
